# Data science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized

Some of the popular languages that Data Scientists use are
1. numpy
2. matplotlib
3. scirkit

## Data Science Tools

JupiterLab

jupiter notebook

Google Colab

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
(3*4)+5
# This a simple arithmetic expression to mutiply then add integers

17

round(200/60,2)
#This will convert 200 minutes to hours by diving by 60

In [5]:
round(200/60,2)
#This will convert 200 minutes to hours by diving by 60

3.33

**Objectives**
- data science tools
- data science languages
- data science objectives

## AUTHOR
AUDU STEPHEN